# Dependency directories
node_modules/
/dist
/dev-dist

# Testing directories
/playwright-report
/test-results
*.log

# Environment variables
.env
.env.*

# Local development files
.DS_Store
.agents/*
!.agents/skills/
!.agents/docs/
!.agents/rules/
!.agents/AGENTS.md

# IDE / Editor configuration
.vscode/
.idea/
.gemini/

# Local Netlify folder
.netlify
